.menu {
	z-index: 10;
	position: absolute;
	width: 1170px;
}

.user {
	float:right;
}

.cuerpo {
	padding-top: 60px;
	padding-left:20px;
}

.cuerpo {
	z-index: 1;
}

.ser {
	margin-right: 20px;
	margin-left: 20px;
}

.xml {
	margin-right: 20px;
	margin-left: 20px;
}

.salir {
	margin-top: 32px;
	margin-left: -25px;
}

.despl {
	margin-top: -10px;
}

.cat {
	margin-top: 15px;
}

ul, ol {
	list-style:none;
}
 
.nav > li {
	float:left;
}
			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
			
.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:-140px;
	top:0px;
}