body{
	background-color: #585858;
}

div {
	color: #BE961D;
}

a, span {
	color: #FE9A2E;
}

a {
	text-decoration: none;
}

.logo {
	color: black;
	font-size: 200%;
}

.contenedor {
	padding-top: 20px;
	margin-right: 100px;
	margin-left: 150px;
	height: 100%;
	width: 75%;
	position: absolute;
}

.menu {
	background-color: #424242;
	margin-bottom: 30px;
	padding: 15px;
}

.menu img {
	width: 30px;
    height: 20px;
	float: right;
	margin-right: 250px;
	box-shadow: none;
	
}

.menu span {
	float: right;
	padding-right: 5px;
	margin-top: 9px;
}

.menu div{
	color: #FACC2E;
}

.cuerpo {
	margin-left: 10px;
	margin-top: 20px;
	position: absolute;
	height: 830px;
	width: 100%;
	display: block;
	clear: left;
	padding-left: 20px;
}

img {
	width: 143px;
    height: 214px;
    box-shadow: 0px 0px 0.2em 1px rgba(0, 0, 0, 0.1);
}

.menu a {
	margin-right: 12px;
}

.paginacion {
	margin: 20px;
	margin-left: 50px;
	margin-bottom: 35px;
	height: 30px;
	width: 105px;
	text-align: center ;
	background-color: white;
	float: center;
	display: inline;
}

div .productos {
	margin-top: 60px;
	margin-bottom: 40px;
	height: 90%;
	width: 100%;

}

div .producto {
	margin-bottom: 30px;
	width: 25%;
    height: 350px;
	float: left;
}

.no {
	text-align: center;
}

.descripcion {
	float: right;
	width:75%;
}

.prod {
    height: 350px;
	color: black;
}


.prod .producto {
	margin-top: 50px;
	width: 25%;
	float: left;
}



.descripcion {
	white-space: wrap;
	margin-top: -275px;
	margin-right: 30px;
	width: 75%;
	float:right;
}

.volver {
	
	margin-left: -290px;
	display: inline;
}

.volver a {
	color: #2E2E2E;
}


.paginacion a {
	color: black;
	border : #013ADF solid 2px;
    text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.paginacion a:hover {
	color: white;
	border : #2E9AFE solid 2px;
    text-decoration: none;
	background: #2E9AFE;
}

.carrito img {
	width: 25px;
    height: 25px;
	box-shadow:none;
	padding: 5px;
	margin-right: 10px;
}

.total {
	padding: 15px;
}

.finalizar {
	padding-top: 25px;
}


.usuario {
	text-align: right;
}

.error {
	color: red;
}


.tachado{
	text-decoration:line-through;
}